

  #email {
  text-decoration: none;}

a {
  text-decoration: none;

}


a:visited{
  text-decoration:none;
  color:#B22222;

}

a:hover{
  text-decoration:none;
  color:#A9A9A9;

}


html, body {

  background-color:#f4f1fa;
  color: black;
  font-family: 'Noto Serif TC', serif; }

  section#image_address {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;

}




  #name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    width: 300px;
    font-size: 40px;
    color: #000080;

  }

  #img{
    border: 1px solid #000080;
    border-radius: 4px;
  }

#About_Me {
  font-weight: lighter;
}

#Education{
  font-weight: normal;
}

#Leadership{
  font-weight: normal;
}

#Hobbies{
  font-weight: normal;
}

  section#contact_social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
   .cursor {
   cursor: crosshair; }

   .contact_social{
     border: 1px solid #000080;
   }
